#30 Day Python Rewind

In [1]:
# Introduction
# Day 1 - 30DaysOfPython Challenge

In [4]:
print(3 + 2)   # addition(+)
print(3 - 2)   # subtraction(-)
print(3 * 2)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

# Checking data types

print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Nirmal'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Nirmal'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

5
1
6
1.5
9
1
1
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

#Built-in Functions

Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).

In [14]:
base = int(input("Enter the base value: "))
Hight = int(input("Enter the Hight value: "))

area = 0.5 * base * Hight

print(f"The area of triangle is:", area)

The area of triangle is: 100.0

#Escape Sequences in Strings

    ##\n: new line
    ##\t: Tab means(8 spaces)
    ##\\: Back slash
    ##\': Single quote (')
    ##\": Double quote (")

In [26]:
print("My Name is \nNirmal")
print("Day\ttopic\tstatus")
print('1\tstring\tcompleted')
print('2\tlist\tcompleted')
print('1\ttuble\tcompleted')
print('this is frowardslash symbol \\')
print('I am start with \"Hello Word Program\"')

My Name is
Nirmal
Day	topic	status
1	string	completed
2	list	completed
1	tuble	completed
this is frowardslash symbol \
I am start with "Hello Word Program"

#F - String

In [32]:
a = 4
b = 3

print(f"{a} + {b} = {a+b}")
print(f"{a} - {b} = {a-b}")
print(f"{a} / {b} = {a/b:.2f}")
print(f"{a} * {b} = {a*b}")
print(f"{a} ** {b} = {a**b}")

4 + 3 = 7
4 - 3 = 1
4 / 3 = 1.33
4 * 3 = 12
4 ** 3 = 64

#Indexing

In [ ]:
txt = "Python"
first_letter = txt[0]
print(first_letter)
last_index = len(txt)-1
print(last_index)
last_letter = txt[last_index]
print(last_letter)

P
5
n

#Slicing

In [51]:
print(txt[1])
print(txt[5])
print(txt[-1])
print(txt[2:5])
num = [1,2,3,4,5,6,7,8,9,10]
print(num[2:8:2])
print(num[:4])
print(num[4:])
print(num[::])

y
n
n
tho
[3, 5, 7]
[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#dictionary

#Sort dictionary

In [5]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}

myKeys = list(d.keys())
myKeys.sort()

sorted_dictionary = {i:d[i] for i in myKeys}
print(sorted_dictionary)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15}

In [8]:
for i in sorted(d.keys()):
    print(i, end=" ")

rajnish ravi sanjeev

#Sorting Dictionary By Value using sorted() method

In [18]:
d2 = {'watermelon': 1, 'apple': 2, 'kivi':5, 'banana': 3} 

val_sorted = {k:v for k,v in sorted(d2.items(), key=lambda item:item[1])}

print(val_sorted)


val_sorted_desc = {k:v for k,v in sorted(d2.items(), key=lambda item:item[1], reverse=True)}
print(val_sorted_desc)

{'watermelon': 1, 'apple': 2, 'banana': 3, 'kivi': 5}
{'kivi': 5, 'banana': 3, 'apple': 2, 'watermelon': 1}

In [22]:
d = {'a': 100, 'b': 200, 'c': 300}

res = sum([d[key] for key in d])
res

600

#Ways to sort list of dictionaries by values in Python – Using itemgetter

In [26]:
from operator import itemgetter

data_list = [{"name": "Nandini", "age": 20},
             {"name": "Manjeet", "age": 25},
             {"name": "Nikhil", "age": 19}]

print(data_list)
print(sorted(data_list, key=itemgetter("age")))

print('------------------------------------------------------------------------------------------')

print(data_list)
print(sorted(data_list, key=itemgetter('age'), reverse=True))

[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 25}, {'name': 'Nikhil', 'age': 19}]
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 25}]
------------------------------------------------------------------------------------------
[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 25}, {'name': 'Nikhil', 'age': 19}]
[{'name': 'Manjeet', 'age': 25}, {'name': 'Nandini', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

#Merging or Concatenating two Dictionaries in Python

In [31]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
d3 = {}

d3 = d1 | (d2)
print(d3)

print('-------------------------------------------------------------------------------')
d4 = {**d1, **d2}
print(d4)

{'x': 1, 'y': 3, 'z': 4}
-------------------------------------------------------------------------------
{'x': 1, 'y': 3, 'z': 4}

#Python – Convert key-values list to flat dictionary

In [37]:
a = [("name", "Alice"), ("age", 25), ("city", "New York")]

print(dict(a))

print('-------------------------------------------------------------------------------')

res = {k:v for k,v in a}
print(res)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
-------------------------------------------------------------------------------
{'name': 'Alice', 'age': 25, 'city': 'New York'}